<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page App</title>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="icon" type="image/png" href="images/favi.png">
</head>
<body>
    <div class="parent">
        <div class="div1">
        <h1> The giving site</h1>    
        </div>
        <div class="div2">
            <div>
                 <a href="/register"> Request a Gift </a>
            </div>
            <div>
                <a href="/give"> Give a gift</a>
            </div>  
        </div>
        <div class="div5"> 
            <h2>
                About us
            </h2>
        
            <p>
            We are a simple website to help needy families during the holidays
            <br>
            Much like a giving tree in person, where you can post a requested gift with paper and tape,
            we are doing so digitally.
            <br><br>
            You are free to post a gift if you or your family are in need of a gift.
            <br><br>
            You can also claim a open gift, the members address will be sent to you via e-mail</p>
        </div>
        <div class="div7">
            <img src="images/bluegift.png" alt="blue gift box">
        </div>
    </div>
        

</body>
</html>
